h1, h2, h3, p, a {
	color: green;
}

h1 {
	text-align: center;
}

p, div {
	color: white;
}

img {
	width: 60;
  align-items: left
}
body {
  background: green;
}
.active {
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
  color: #9999;
}
