
#stick h2{
  font-size: 140%;
  font-weight: bold;
}
#stick p{
  font-size:100%;
  font-weight:normal;
}
#stick,li{
  list-style:none;
}
#stick{
  overflow:hidden;
  padding:3em;
}
#stick li .sticky{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:35vw;
  width:35vw;
  padding:1em;
}
#stick li{
  margin: 1em;
  float: left;
}

#stick li .sticky{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:35vw;
  width:35vw;
  padding:1em;
  /* Safari+Chrome */
  box-shadow: 0px 5px 7px rgba(33,33,33,.2);
  overflow: scroll;
}

#stick li:nth-child(even) .sticky{
  -webkit-transform:rotate(4deg);
  position:relative;
  top:5px;
}
#stick li:nth-child(3n) .sticky{
  -webkit-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
#stick li:nth-child(5n) .sticky{
  -webkit-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

#sticky li .sticky:hover,ul li .sticky:focus{
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  position:relative;
  z-index:5;
}
