.container {
  padding: 1%;
}

body {
  background-image: url("loginBg.png");
  background-color: #dfe8e1;
  color: #000000;
  font-size: 150%;
}

#register-form-div {
  width: 50%;
  border-color: #640e0e;
  border-style: solid;
  padding: 20px;
}

#login-form-div {
  width: 40%;
  border-color: #000fff;
  border-style: solid;
  padding: 20px;
}

#register-form input {
  float: right;
}

#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:200px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:200px;
}

#right {
    float:right;
    width:200px;
}

#picturediv {
	max-width: 100%;
	height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#footer{
  background-color: #95524c;
}
