.container {
  padding: 1%;
}

h1 {
  color: white;
}

body {
  background-image: url("rug.JPG");
  color: white;
  background-color: #dfe8e1;
  font-size: 150%;
  font-family: 'Nunito', sans-serif;
  font-size: small;
}

#navba {
  box-shadow: 0 0px 10px rgba(0,0,0,1);
}

#register-form-div {
  width: 70%;
  border-radius: 0.5em;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

#register-form-div .form-group {
  padding-bottom: 50px;
}

#login-form-div {
  width: 70%;
  border-radius: 0.5em;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

#register-form input {
  float: right;
}

#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:10px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:200px;
}

#right {
    float:right;
    width:200px;
}

#picturediv {
	max-width: 100%;
	height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#footer{
  background-color: #95524c;
}

.card{
    position: relative;
    background-image: url("loginBgAlt.png");
    color: black;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;

}
