<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <meta charset="utf-8">
    <title>Yearbook 2020</title>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}" charset="utf-8"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='notify.js')}}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='notify.js')}}" charset="utf-8"></script>
    <!-- <meta charset="UTF-8"> -->



    {% block head %}{% endblock %}
  </head>
  <body>
    <script charset="utf-8">
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const pfp_path= "{{url_for('static', filename='pfps')}}";
    </script>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/main">Belmont High School Yearbook 2020</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li><a class="nav-item" style="font-size:110%" href="/mymessages">My Messages</a></li>

          <li><a class="nav-item" style="font-size:110%" href="/map">Map</a></li>

          <li><a class="nav-item" style="font-size:110%" href="/edit">Edit Profile</a></li>
          <li> <form action="logout" method="post"> <input type="submit" name="logout" id="logout" value="logout"> </form>
          </li>

        </ul>
      </div>
    </nav>
    <div id="content" class="container">
      <div id="content-inside">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a>Alek Westover</a>
        <p>2020STRONG</p>
      </div>
    </footer>

  </body>
</html>
