<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <meta charset="utf-8" name="description" content="BHS digital yearbook website. A better, free, version of the classic yearbook. You can't lose it, you can send an unlimited number of messages. You don't have to wait for someone's yearbook to sign it. ok, actually that is just a joke, it's not really as good. But it still should be kind of fun."/>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <title>Yearbook 2020</title>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <script src="{{ url_for('static', filename='notify.js')}}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='notify.js')}}" charset="utf-8"></script>

    <script src="{{url_for('static', filename='node_modules/croppie/croppie.min.js')}}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/croppie/croppie.css')}}">

    {% block head %}{% endblock %}
  </head>
  <body>
    <script charset="utf-8">
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const pfp_path= "{{url_for('static', filename='pfps')}}";
    </script>

    {% block uncontained_content %}{% endblock %}

    <div id="content" class="container">
      <div id="content-inside">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="footer-copyright text-center py-3">
        <p>
          © 2020 Copyright: <br><a href="https://awestover.github.io">Alek Westover</a> <br>2020STRONG
        </p>
      </div>
    </footer>

  </body>
</html>
