{% extends 'base.html' %}

{% block uncontained_content %}
  {% include "header.html" %}
{% endblock %}

{% block content %}



<script charset="utf-8">
  if(urlParams.get("error")){
    $.notify(urlParams.get("error"));
  }
</script>


<div class="card">
<h1> EDIT PROFILE/SENIOR QUOTE</h1>
</div>
<br>

<div class = "cardmadeline">
		<div id="edit_password"><!--class="bg-light"-->
			<form action="edit_password" method="post" id="edit_password_form">
				<!--

				<label> Name </label>
				<input type="name" class="form-control" name="name" id="name" namearia-describedby="name" placeholder="Current Name">

				-->
				<label> Password </label>
				<input type="password" class="form-control" name="password" placeholder="Current Password" style="font-size: 2vw; width: 35vw; height: auto;">
				<br>
				<label> New Password </label>
				<input type="password" class="form-control" name="newpassword" placeholder="New password" style="font-size: 2vw; width: 35vw; height: auto;">
				<br>
				<br>
				<br>

				<input id="submit_quote" type="submit" value="change password" name="submit" class="btn btn-primary form-control" style="font-size: 2vw; width: 30vw; height: auto;"/>

			</form>
		</div>
</div>

<div class = "cardleon">
<div id="edit_quote">
<form action="edit_quote" method="post" id="edit_quote_form">
	<!--

	<label> Name </label>
	<input type="name" class="form-control" name="name" id="name" namearia-describedby="name" placeholder="Current Name">
	<br>

	-->
	<label> Password </label>
	<input type="password" class="form-control" name="password" placeholder="Current Password" style="font-size: 2vw; width: 35vw; height: auto;">
	<br>
	<label>Edit Quote</label>
	<textarea maxlength="200" class="form-control" name="quote" form="edit_quote_form" rows="2" placeholder="I am a generic student at BHS graduating in 2020." style="font-size: 2vw; width: 35vw; height: auto;"></textarea>
  <br>
  <br>
	<input id="submit_quote" type="submit" value="change quote" name="submit" class="btn btn-primary form-control" style="font-size: 2vw; width: 30vw; height: auto;"/>
</form>
</div>
</div>

<!--
<div class = "card">
	<div id = "edit_picture">
		<form action="edit_picture" method="post" id="edit_form" enctype="multipart/form-data">
			<label> Password </label>
			<input type="password" class="form-control" name="password" id="password" placeholder="Current Password">
			<br>

			<label for="img">New profile picture:</label>
			<input type="file" value="profilepic" name="profilepic" class="form-control" id="profilepic" accept="image/*"/>

			<button type="submit" class="btn btn-primary form-control">Submit</button>
		</form>
	</div>
</div>
<br>

-->
<br>


{% endblock %}
