<!-- <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
<!--   <a class="navbar-brand" href="/main">Belmont High School Yearbook 2020</a> -->
<!--   <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
<!--     <ul class="navbar-nav mr-auto"> -->
<!--       <li><a class="nav-item" style="font-size:110%" href="/mymessages">My Messages</a></li> -->

<!--       <li><a class="nav-item" style="font-size:110%" href="/map">Map</a></li> -->

<!--       <li><a class="nav-item" style="font-size:110%" href="/edit">Edit Profile</a></li> -->
<!--       <li> <form action="logout" method="post"> <input type="submit" name="logout" id="logout" value="logout"> </form> -->
<!--       </li> -->

<!--     </ul> -->
<!--   </div> -->
<!-- </nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav"> <!-- class="fixed-top" -->
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/main">Belmont High School Yearbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/mymessages">My Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/edit">Edit Profile</a>
        </li>
        <li> 
          <form action="logout" method="post"> <input type="submit" name="logout" id="logout" value="logout"> </form>
        </li>
      </ul>
    </div>
  </div>
</nav>


