<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav"> <!-- class="fixed-top" -->
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/main">Belmont High School Yearbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto" style="font-size:110%">
        <li id="navbar_mymessages_link" class="nav-item">
          <a class="nav-link" href="/mymessages">My Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/request">My Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script charset="utf-8">
  $.get("/get_senior", (is_senior)=>{
    if(!is_senior)
      $("#navbar_mymessages_link").remove();
  });
</script>


