{% extends 'base.html' %}

{% block content %}

<script charset="utf-8">
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  if(urlParams.get("error")){
    alert(urlParams.get("error"));
  }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="register-form-div" class="bg-light">
            <form action="register" method="post" id="register-form" enctype="multipart/form-data">

              <!--Name-->
              <div class="form-group">
                <label>Name</label>
                <input type="name" class="form-control" name="name" id="name" namearia-describedby="name" placeholder="Andrew Naumann II">
              </div>

              <!--Email-->
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" id="email" namearia-describedby="emailHelp" placeholder="yourid@belmontschools.net">
              </div>

              <!--Password-->
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>

              <!--Bio-->
              <div class="form-group">
                <label>Senior Quote</label>
                <textarea class="form-control" name="bio" form="register-form" id="biography" rows="3" placeholder="I am a generic student at BHS graduating in 2020."></textarea>
              </div>

              <!--Select profile pick-->

              <div class="form-group">
                <p>Select a Photo</p>
                <input type="file" id="profilepic" value="profilepic" class="form-control" accept="image/*">
              
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
              </div>
              
            </form>

          </div>
        </div>
        <div class="col-md-4 bg-light font-small">
            <div id="login-form-div">
              <form action="login" method="post" id="login-form" enctype="multipart/form-data">

                <div class="form-group">
                  <label>Name</label>
                  <input type="name" class="form-control" name="name" id="name" namearia-describedby="name" placeholder="Andrew Naumann II">
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>

                <div class="form-group">
                  <input type="submit" value="submit" name="submit" id="submit" class="btn btn-primary form-control"/>
                  <br>
              </form>
              </div>
        </div>
    </div>
</div>

{% endblock %}
