{% extends 'base.html' %}

{% block content %}

<script charset="utf-8">
  if(urlParams.get("error")){
    $.notify(urlParams.get("error"));
  }
</script>

<div class="container">
<div class="col">
  <div id="register-form-div" class="bg-light">

    <form action="register" method="post" id="register-form" enctype="multipart/form-data">
      <h2>Register</h2>
      <div class="form-group">
        <label>Name</label>
        <input type="name" class="form-control" name="name" placeholder="Andrew Naumann II">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="yourid@belmontschools.net">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label>Institution (Full Name)</label>
        <input type="text" class="form-control" name="institution" placeholder="--- university">
      </div>
      <div class="form-group">
        <label>Senior Quote</label>
        <textarea class="form-control" name="bio" form="register-form" id="biography" rows="3" placeholder="I am a generic student at BHS graduating in 2020."></textarea>
      </div>
      <div class="form-group">
        <label for="img">Select profile picture:</label>
        <input type="file" value="profilepic" name="profilepic" class="form-control" id="profilepic" accept="image/*"/><br><br><br>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="col font-small">
  <div id="login-form-div" class="bg-light">
    <form action="login" method="post" id="login-form" enctype="multipart/form-data">

      <h2>Log In</h2>

      <div class="form-group">
        <label>Name</label>
        <input type="name" class="form-control" name="name" namearia-describedby="name" placeholder="Andrew Naumann II">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="submit" value="submit" name="submit" id="submit" class="btn btn-primary form-control"/>
        <br>
      </div>
    </form>
  </div>
</div>
<div class="w-100"></div>

<img width="80%" src="{{url_for('static', filename='marauder.png')}}" alt="maurader"/>
</div>

{% endblock %}
