{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='search_bar.css')}}" type="text/css" >
<script src="{{url_for('static', filename='search_bar.js')}}" charset="utf-8"></script>
<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
{% endblock %}

{% block content %}
<div class="card">
  <br>
  <div id="mauraders">
    <img id="left-maurader" alt="marauder" src="{{url_for('static', filename='marauder.png')}}" height="100px" width="100px"/>
    <img id="right-maurader" alt="marauder" src="{{url_for('static', filename='marauder.png')}}" height="100px" width="100px"/>
  </div>
<div style="clear: right">
  <h1 style="font-size: 70px">CONGRATULATIONS!</h1>
  <h1 style="font-size: 30px">BELMONT HIGH SCHOOL CLASS of 2020</h1>
</div>

</div>


<div class="card-search">
  <div class="search-container">
    <div class="search-box">
      <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
      <input type="text" placeholder="Search" id="search" autocomplete="off">
      <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
       xml:space="preserve">
          <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
          <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
        </svg>
      <div class="go-icon"><i class="fa fa-arrow-right" onclick="search_name()"></i></div>
    </div>
    <br>
    <br>
  </div>
</div>

<!--
<div class="card">
	<ul style= "list-style-type: none">
  <li><a style="color: black; font-size:200%" href="/mymessages">my messages</a></li>
	<li><a style="color: black; font-size:200%" href="/map">see where everyone's going!</a></li>
	<li><a style="color: black; font-size:200%" href="/edit">edit profile</a></li>
	<ul>
</div>
-->

  <br>
  <div id="faces">


  </div>

<script type="text/javascript">

  $.get("/getProfiles", function(data){
      let currentRow = $("<div class='row'></div>");
      let ct = 0;
      for(let uuid in data){
        if(ct%4 == 0 && ct != 0){
          $("#faces").append(currentRow);
          currentRow = $("<div class='row'></div>");
        }
        let link = `/sendmessages?sendto=${uuid}`;
        let currentCard = $(`<div class='col-sm face-card' id="card_${uuid}" onclick='window.location.href="${link}"'></div>`);
        currentCard.append($(`<img id="img_${uuid}" alt="profile picture missing" src="${pfp_path}/${uuid}.png" height="50%" onerror="this.onerror=null;this.src='${pfp_path}/panda.png';"></img>`));
        let username = JSON.stringify(data[uuid].name);
        currentCard.append($(`<h2 id="my${uuid}">${username}</h2>`));
        currentCard.append($(`<p>bio: ${JSON.stringify(data[uuid].bio)}</p>`));
        $(currentRow).append(currentCard);
        ct++;
      }
      while(ct % 4 != 0){
        ct++;
        $(currentRow).append($("<div class='col-sm face-card'></div>"));
      }
      $("#faces").append(currentRow);
  });

$.get("/get_uuid", function(username){
  $.get("/view_all_messages", function(data){
    for (let person in data){
      if (Object.keys(data[person]).indexOf(username) != -1) {
        $("#my" + person).append("<p>&#x2713</p>");
      }
    }
  });
});

function search_name(){
  let name = $("#search").val();
  if(name){
    let img_elt = document.getElementById("img_"+name);
    if(img_elt)
      img_elt.scrollIntoView();
  }
}

document.getElementById("search").addEventListener("keyup", function(event){
  if(event.keyCode=== 13){
    event.preventDefault();
    search_name();
  }
});

</script>
<br>
<br>
<br>

{% endblock %}
