{% extends 'base.html' %}
{% block uncontained_content %}
  {% include "header.html" %}
<div class="card">
  <div id="mauraders">
    <img id="left-maurader" alt="marauder" src="{{url_for('static', filename='marauder.png')}}" height="100px" width="100px"/>
    <img id="right-maurader" alt="marauder" src="{{url_for('static', filename='marauder.png')}}" height="100px" width="100px"/>
  </div>
<div style="clear: right">
  <br>
  <h1>&#x1f5fa Map &#x1f5fa</h1>
  <br>
</div>
</div>
<br>
<iframe width="100%" height="100%" src="https://www.google.ie/gwt/x?u=https://www.google.com/maps/d/u/0/embed?mid=10FkHBiP8Ac65gt6rViWoyvX3IKQeiTus" align="middle" scrolling="no" frameborder="0"></iframe>

{% endblock %}

