{% extends 'base.html' %}


{% block content %}
<h1>Displaying Alek's Messages</h1>

<div class = "comment">
<script type="text/javascript">
  var name = "hi";
  let pfp_path= "{{url_for('static', filename='pfps')}}";

  $.get("/view_sent_messages", function(data){
    for(let i = 0; i<data.length; i++) {
    	let htmlElement = `<div class ="messages"><p>name: ${data[i]} <p></div>`;
    	$("#messages").append(htmlElement)
    }
  });
</script>
</div>

<div class="card">
<h1>MY MESSAGES</h1>
</div>
<br>


{% endblock %}
