{% extends 'base.html' %}

{% block uncontained_content %}
  {% include "header.html" %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/sendmessages.css')}}" type="text/css" >
{% endblock %}


{% block content %}
<div class="card">
<h1>SEND MESSAGES</h1>
</div>
<br>

<div id="sendto_person_profile"> </div>

<div id="message-card" class="card">
    <label>Message:</label>
    <textarea name="message" id="message" rows="10" placeholder="Nice knowing you! I hope you will find happiness and success in life."></textarea>
    <button onclick="send_message()" class="btn">Sign Yearbook</button>
    <button onclick="send_request()" class="btn">Request Signing </button>
</div>

<script src="{{url_for('static', filename='js/sendmessages.js')}}" charset="utf-8"></script>


{% endblock %}
