{% extends 'base.html' %}
{% block content %}
<div class="card">
<h1>SEND MESSAGES</h1>
</div>
<br>

<div id="sendto_person_profile" class="card"> </div>

<div class="card">
		<label>Message:</label>
    <textarea name="message" id="message" rows="10" placeholder="Nice knowing you! I hope you will find happiness and success in life."></textarea>
    <button onclick="send_message()" class="btn">Sign Yearbook</button>
</div>

<script charset="utf-8">
  let sendToUUID = urlParams.get("sendto");
  $.get("/view_profile", {"uuid": sendToUUID}, function(data){
      let currentCard = $("<div class='col-sm face-card'></div>");
      currentCard.append($(`<h2>${JSON.stringify(data.name)}</p>`));
      currentCard.append($(`<p>bio: ${data.bio}</p>`));
      currentCard.append($(`<img id="img_${data.name}" alt="profile picture missing" src="${pfp_path}/${sendToUUID}.png"  style="max-width:100%;max-height:80%;" onerror="this.onerror=null;this.src='${pfp_path}/panda.png';"></img>`));
      $("#sendto_person_profile").append(currentCard);

  });

  function send_message(){
    $.post("/send_message", {
    "sendto": urlParams.get("sendto"),
    "message": $("#message").val()
    }, (data)=>{
      window.location.href = data;
    });
  }

</script>

{% endblock %}
