{% extends 'base.html' %}
{% block content %}
<h1>sent messages</h1>
<div id="messages">

</div>


<script type="text/javascript">
  var name = "hi";
  let pfp_path= "{{url_for('static', filename='pfps')}}";

  $.get("/view_my_messages", function(data){
      for(let i in data){
        $("#messages").append(`<p>message: ${data[i].Ziyong}</p>`);
      }
  });

  $.get("/getProfiles", function(data){
      for(let i in data){
        $("#messages").append(`<p>name: name </p>`);

      }
  });
</script>
{% endblock %}
