{% extends 'base.html' %}
{% block content %}
<div class="card">
<h1>SENT MESSAGES</h1>
</div>

<div class="card">
  <br>
<div id="messages">

</div>
<br>
</div>

<script type="text/javascript">
  var name = "hi";
  let pfp_path= "{{url_for('static', filename='pfps')}}";

  $.get("/view_my_messages", function(data){
    for(sender in data["Alek"])
      for (message in data["Alek"][sender])
      {
        $("#messages").append(`<p>name: ${JSON.stringify(data["Alek"])}</p><p>message: ${data["Alek"][sender][message]}</p>`)
      }



  });

</script>
{% endblock %}
